body{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 15px;
	line-height: 1.5;
	padding:0;
	margin: 0;
	background-color: #f4f4f4
}
.container{
	width: 80%;
	margin: auto;
	overflow:hidden;
}

ul{
	margin: 0;
	padding: 0;
}
.button_1{
	height:38px;
	background:#e8491d;
	border:0;
	padding-left:20px;
	padding-right: 20px;
	color:#ffffff;
}

.dark{
	padding:15px;
	background:#35424a;
	color:#ffffff;
	margin-top: 10px;
	margin-bottom: 10px;
}

header{
	background:#35424a;
	color:#ffffff;
	padding-top: 30px;
	min-height: 78px;
	border-bottom:#8491d 3px solid; 
}

header a{
	color:white;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 16px;
}


header li{
	float:left;
	display:inline;
	padding: 0 28px 0 28px;
}

header #branding{
	float:left;
}

header #branding h1{
	margin:0;
}

header nav{
	float:right;
	margin-top: 10px;
}

header .highlight, header .current a{
	color:#e8491d;
	font-weight: bold;
}

header a:hover{
	color:#cccccc;
	font-weight: bold;
}

#showcase{
	min-height: 500px;
	background:url('../img/pitch.jpg')  no-repeat 0 ;
	text-align:center;
	color:#ffffff;
}

#showcase h1{
	margin-top: 180px;
	font-size: 25px;
	margin-bottom: 18px;
}

#showcase p{
	font-size: 15px;
	margin-right: 10px;
}

#newsletter{
	padding:15px;
	color#aaaaaa;
	background:35424a;
}

#newsletter h1{
	font:left;
}

#newsletter form{
	float:right;
	margin-top: 15px;
}

#newsletter input[type='arial']{
	padding:4px;
	height:25px;
	width: 250px;
}

#boxes{
	margin-top: 20px;
}

#boxes .box{
	float:left;
	text-align:center;
	width:30%;
	padding:10px;
	;
}

#boxes .box img{
	width: 90px;
}

aside#sidebar{
	float:right;
	width:30%;
	margin-top: 10px;
}

article#main-col{
	float:left;
	width:65;
}

footer{
	padding:20px;
	margin-top:20px;
	color:#fffff;
	background-color: #e8491d
	text-align: center;
}